<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar  navbar-fixed-top text-white bg-primary">
        <div class="">
            <div >
               
                <h1 >Bienvenido a la tienda</h1>
               
            </div>           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />       
    </div>

    
</body>
</html>
